<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Time Tracker</title>
    <script src="/resources/js/angular.1.4.8.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
</head>
<body>
    <h2>Activities</h2>

    <div ng-app="timeTracker" ng-controller="activitiesTracker">
        <ul>
            <li ng-repeat="x in activities">
                {{x.name}} - {{x.duration.hours}}h:{{x.duration.minutes}}m <span
                    ng-click="removeActivity($index)">x</span>
            </li>
        </ul>

        <label>Total: </label> {{totalHours}}h:{{totalMinutes}}m
        
        <section>
            <h3>Add new Activity</h3>

            <label>Name: </label><input ng-model="newActivityName">

            <section>
                <p class="left">Time spent </p>

                <table class="time">
                    <tr>
                        <th><label>Hours: </label></th>
                        <th><input class="small" ng-model="newActivityHour"></th>
                    </tr>
                    <tr>
                        <th><label>Minutes:</label></th>
                        <th><input class="small" ng-model="newActivityMinute"></th>
                    </tr>
                </table>
            </section>
        </section>
        <label>Date: </label><input ng-model="newActivityDate">
        <br>
        <br>
        <div class="btn" ng-click="addActivity()">Add</div>
    </div>

    <script>
        var app = angular.module('timeTracker', []);
        app.controller('activitiesTracker', function($scope) {
            $scope.activities = [];
            $scope.newActivityName = '';
            $scope.newActivityHour = '';
            $scope.newActivityMinute = '';
            $scope.newActivityDate = currentDate();
            $scope.totalHours = 0;
            $scope.totalMinutes = 0;
            $scope.addActivity = function() {
                name = $scope.newActivityName;
                hours = $scope.newActivityHour;
                minutes = $scope.newActivityMinute;
                if (hours == '') {
                    hours = 0;
                }
                if (minutes == '') {
                    minutes = 0;
                }
                $scope.newActivityName = '';
                $scope.newActivityHour = '';
                $scope.newActivityMinute = '';
                newActivityTime = {hours: hours, minutes: minutes};
                newActivity = {name: name, duration: newActivityTime, date: $scope.newActivityDate};
                $scope.activities.push(newActivity);
                adjustTotalTime();
            }
            $scope.removeActivity = function(x) {
                $scope.activities.splice(x, 1);
                adjustTotalTime();
            }

            function currentDate() {
                var date = new Date();
                return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
            }

            function adjustTotalTime() {
                var hours = 0;
                var minutes = 0;
                for(var i = 0; i < $scope.activities.length; i++) {
                    var activity = $scope.activities[i];
                    hours += parseInt(activity.duration.hours, 10);
                    minutes += parseInt(activity.duration.minutes, 10);
                }
                $scope.totalHours = hours + Math.floor(minutes/60);
                $scope.totalMinutes = minutes % 60;
            }
        });
    </script>
</body>
</html>