<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Time Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/resources/js/angular.1.4.8.min.js"></script> <!-- TODO: remove from resources, add CDN link -->
    <!-- <link rel="stylesheet" type="text/css" href="/resources/css/style.css"> -->
</head>
<body>
<div class="container"  ng-app="timeTracker" ng-controller="timeTrackController">
    <h2>Time Track Application</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#activities">Activities</a></li>
        <li><a data-toggle="tab" href="#timetrack">Time Track</a></li>
        <li><a data-toggle="tab" href="#statistics">Statistics</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <p>Ever wondered where your time goes? Use this application to track your time!</p>
            <p>From the 'Activities' tab, insert the activities you are corrently spending time on.</p>
            <p>From the 'Time track' tab, track time spend on the activities.</p>
            <p>From the 'Statistics' tab, view where your time went.</p>
        </div>
        <div id="activities" class="tab-pane fade">
            <p>Add Activities</p>
            <div>
                <ul>
                    <li ng-repeat="x in activities">
                        {{x.name}} <span ng-click="removeActivity($index)">x</span>
                    </li>
                </ul>
                <section>
                    <h3>Add a new activity</h3>
                    <label>Name: </label> <input ng-model="newActivityName">
                    <br>
                    <div class="btn" ng-click="addActivity()">Add</div>
                </section>
            </div>
        </div>
        <div id="timetrack" class="tab-pane fade">
            <p>Track your time</p>
            <div>
                <ul>
                    <li ng-repeat="x in timeTrackReports">
                        {{x.activityName}} - {{x.hours}}h:{{x.minutes}}m <span
                            ng-click="removeTimeTrackReport($index)">x</span>
                    </li>
                </ul>

                <label>Total: </label> {{totalHours}}h:{{totalMinutes}}m

                <section>
                    <h3>Track time on an activity</h3>

                    <label>Name: </label><input ng-model="newActivityName">

                    <section>
                        <p class="left">Time spent </p>

                        <table class="time">
                            <tr>
                                <th><label>Hours: </label></th>
                                <th><input class="small" ng-model="newActivityHour"></th>
                            </tr>
                            <tr>
                                <th><label>Minutes:</label></th>
                                <th><input class="small" ng-model="newActivityMinute"></th>
                            </tr>
                        </table>
                    </section>
                </section>
                <label>Date: </label><input ng-model="newActivityDate">
                <br>
                <br>
                <div class="btn" ng-click="addTimeTrackReport()">Add</div>
            </div>
        </div>
        <div id="statistics" class="tab-pane fade">
            <p>View Statistics</p>
        </div>
    </div>
</div>

    <script>

        var timeTrackApp = angular.module('timeTracker', []);
        timeTrackApp.controller('timeTrackController', function($scope, $http) {
            $scope.activities = [];

            $scope.addActivity = function() {
                newActivity = {name: $scope.newActivityName};
                $http.post('rest/activity/add', newActivity)
                .then(function(response){
                    if (response.data.success == true) {
                        newActivity.id = response.data.id;
                        $scope.activities.push(newActivity);
                        $scope.newActivityName = '';
                    } else {
                        alert('An error ocurred adding the new activity!');
                    }
                }, function(response) {
                    alert('An error ocurred adding the new activity!');
                });
            }

            $scope.removeActivity = function(x) {
                $http.delete('rest/activity/remove?id=' + $scope.activities[x].id)
                .then(function(response) {
                    if (response.data.success == true) {
                        $scope.activities.splice(x, 1);
                    } else {
                        alert('An error ocurred rremoving the activity!');
                    }
                }, function(response) {
                    alert('An error ocurred rremoving the activity!');
                });
            }

            $scope.newActivityDate = currentDate();
            loadTimeTrackReports();
            $scope.newActivityName = '';
            $scope.newActivityHour = '';
            $scope.newActivityMinute = '';
            $scope.totalHours = 0;
            $scope.totalMinutes = 0;

            $scope.addTimeTrackReport = function() {
                name = $scope.newActivityName;
                hours = $scope.newActivityHour;
                minutes = $scope.newActivityMinute;
                if (hours == '') {
                    hours = 0;
                }
                if (minutes == '') {
                    minutes = 0;
                }
                $scope.newActivityName = '';
                $scope.newActivityHour = '';
                $scope.newActivityMinute = '';
                newTimeTrackReport = {activityName: name, hours: hours, minutes: minutes, date: $scope.newActivityDate};
                $http.post('rest/report/add', newTimeTrackReport)
                .then(function(response) {
                    if (response.data.success == true) {
                        newTimeTrackReport.id = response.data.id;
                        $scope.timeTrackReports.push(newTimeTrackReport);
                        adjustTotalTime();
                    } else {
                        alert('An error occured adding time track report!');
                    }
                }, function(response) {
                    alert('An error occured adding time track report!');
                });
            }

            $scope.removeTimeTrackReport = function(x) {
                $http.delete('rest/report/remove?id=' + $scope.timeTrackReports[x].id)
                .then(function(response) {
                    if (response.data.success == true) {
                        $scope.timeTrackReports.splice(x, 1);
                        adjustTotalTime();
                    } else {
                        alert('An error occured removing time track report!');
                    }
                }, function(response) {
                    alert('An error occured removing time track report!');
                });
            }

            function currentDate() {
                var date = new Date();
                return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
            }

            function adjustTotalTime() {
                var hours = 0;
                var minutes = 0;
                for(var i = 0; i < $scope.timeTrackReports.length; i++) {
                    var activity = $scope.timeTrackReports[i];
                    hours += parseInt(activity.hours, 10);
                    minutes += parseInt(activity.minutes, 10);
                }
                $scope.totalHours = hours + Math.floor(minutes/60);
                $scope.totalMinutes = minutes % 60;
            }

            function loadTimeTrackReports() {
                $scope.timeTrackReports = [];
                $http.get('rest/report/all/byDay?day=' + $scope.newActivityDate)
                .then(function(response) {
                    for (var i=0; i < response.data.length; i++) {
                        $scope.timeTrackReports.push(response.data[i]);
                    }
                    adjustTotalTime();
                }, function(response) {
                    console.log('An error ocurred loading all time track reports.');
                });
            }
        });
    </script>
</body>
</html>